.mat-card-container{
  margin-bottom: 2%;
}

mat-card {
    margin: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-content{
  border-radius: 10px;
  padding: 35px 20px 50px 20px;
  width: 100%;
  max-width: 550px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 8px 40px #ffe3f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.formInput{
  width: 90%;
}
  
.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.submit {
    display: flex;
    width: 155px;
    height: 40px;
    border-style: solid;
    border-radius: 30px;
    border-color: #f51c8f;
    background-color: #f51c8f;
    padding: 16px 22px;
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.submit:disabled {
  background-color: #f275a5; /* Disabled button color */
  cursor: not-allowed;
}


hr {
  width: 95%;
  margin: 20px auto;
  border: 0;
  border-top: 1px solid #f51c8f;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  mat-card {
    width: 80%;
  }

  .submit {
    width: 100%;
  }
}

@media (max-width: 480px) {
  mat-card {
    width: 90%;
  }

  .submit {
    width: 100%;
  }
}