<div class="mat-card-container">
  <mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <div class="wrapper">
        <form #eventForm="ngForm" class="form-content" (ngSubmit)="create(eventForm)">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h3 class="modal-header text-center">Create New Event</h3>
              </div>
              <hr>
              <div class="col-12">
                <div class="d-flex flex-column flex-grow-1 py-4">
                  <mat-form-field class="formInput">
                    <mat-label class="custom-label">Event Name</mat-label>
                    <mat-select name="name" [(ngModel)]="name" [value]="name" required>
                      <mat-option value="Add To Cart">Add To Cart</mat-option>
                      <mat-option value="Purchase">Purchase</mat-option>
                      <mat-option value="View Item">View Item</mat-option>
  
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="formInput">
                    <mat-label class="custom-label">Occurred</mat-label>
                    <textarea class="custom-textarea" matInput name="occurred" [(ngModel)]="occurred" [value]="occurred" placeholder="ISO 8601 Format: YYYY-MM-DDTHH:MM:SS.000Z" required></textarea>
                    <mat-error *ngIf="eventForm.controls['occurred']?.invalid && eventForm.controls['occurred']?.touched">Invalid date format</mat-error>
                  </mat-form-field>
                  <mat-form-field class="formInput">
                    <mat-label class="custom-label">Device</mat-label>
                    <input matInput name="device" [(ngModel)]="device" [value]="device" required>
                  </mat-form-field>
                  
                  <h6>Item</h6>
                  <mat-form-field class="formInput">
                    <mat-label class="custom-label">ID</mat-label>
                    <input matInput name="id" [(ngModel)]="item.id" [value]="item.id" required>
                  </mat-form-field>
                  <mat-form-field class="formInput">
                    <mat-label class="custom-label">Name</mat-label>
                    <textarea class="custom-textarea" matInput name="itemName" [(ngModel)]="item.name" [value]="item.name" required></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="submit-container">
              <button type="submit" class="submit" [disabled]="eventForm.invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>  
</div>
