mat-card{
    margin: 2%;
}

button{
    margin: 2px;
}

th{
    background-color: black !important;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

h3{
    font-weight: 900 !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: #000 !important;
}

.filterByItemName{
    margin: 0 5%;
}

.create{
    width:185px;
    height: 40px;
    border-style: solid;
    border-radius: 30px;
    border-color: #f51c8f;
    background-color: #f51c8f;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px 22px;
    font-size: 14px;
    justify-content: center;
    font-weight: 900;
    color: #ffffff;
}
  

@media (max-width: 768px){
    .table-container {
        overflow-x: auto;
    }

    .createNew{
        display: none;
    }

    .create {
        width: 115px;
        margin: 10px 10px;
      }
}

@media (max-width: 480px) {
    .create {
      margin: 10px 0;
    }
    
    .spacer {
      display: none;
    }
  }