<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
    <div class="wrapper">
        <form class="login">
            <div class="col-12 text-center">
                <h3 class="modal-header text-center title">Login</h3>
            </div>
            <hr>
            <input type="text" placeholder="Username" autofocus/>
            <i class="fa fa-user"></i>
            <input type="password" placeholder="Password" />
            <i class="fa fa-key"></i>
            <a href="#">Forgot your password?</a>
            <button>
            <i class="spinner"></i>
            <span class="state">Log in</span>
            </button>

            <a href="/book-demo" aria-current="page" class="f-navigation-button w-inline-block w--current"><div class="text-block-62">Login</div></a>
        </form>
        </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="app.js"></script>
</mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>  

