mat-card {
    margin: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
  }
  
  .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .login {
    border-radius: 10px;
    padding: 35px 20px 50px 20px;
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    position: relative;
    box-shadow: 0px 8px 40px #ffe3f2;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .title {
    font-weight: bold;
    margin: 20px 0 20px 0;
    display: inline;
  }
  
  .input-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-group input {
    padding: 15px 10px;
    margin: 5px 0 20px 0;
    width: 90%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 20px !important;
    color: #ccc;
  }
  
  .lock {
    font-size: 1.75rem;
    margin-left: 10px;
  }
  
  .input-group mat-icon {
    position: absolute;
    top: 42%;
    left: 25px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .input-group input:focus {
    outline: none;
    color: #444;
    border-color: #f51c8f;
    border-left-width: 35px;
  }
  
  .input-group input:focus + mat-icon {
    opacity: 1;
  }
  
  .submit {
    display: flex;
    width: 155px;
    height: 40px;
    border-style: solid;
    border-radius: 30px;
    border-color: #f51c8f;
    background-color: #f51c8f;
    padding: 16px 22px;
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .submit:disabled {
    background-color: #f275a5; /* Disabled button color */
    cursor: not-allowed;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #f51c8f;
  }
  

/* For screen size 768px */
@media (max-width: 768px) {
    mat-card{
        width: 80%
    }
    .login {
      padding: 25px 0px 40px 0px;
    }
  
    .input-group input {
      padding: 12px 8px;
      margin: 5px 20px 15px 20px;
      width: 100%;
    }

    .input-group{
      width: 90%;
    }
  
    .input-group mat-icon {
      left: 28px;
    }
  }
  
  /* For screen size 480px */
  @media (max-width: 480px) {
    .login {
      padding: 20px;
    }
  
    .input-group input {
      padding: 10px 5px;
      margin: 5px 0 10px 0;
      width: 100%;
    }

    .input-group mat-icon {
      top: 46%;
    }
  
    .lock {
      font-size: 1.5rem;
      margin-left: 8px;
    }
  
    .input-group mat-icon {
      left: 7px;
    }
  }
  